* {
  text-align: center;
}

.text-left {
	text-align: left;
}


body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}
main {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

h1,
h3 {
  font-family: Arial black, sans-serif;
}

h1 {
  margin-top: 40px;
  font-size: 2rem;
  color: #2c3e50;
}

.small-text {
  font-size: 0.7rem;
}
.init > p {
  text-align: start;
}
.margin-top {
  margin-top: 2rem;
}
.highlight {
  color: #ecebeb;
  background-color: #3c3c3c;
  padding: 1px 3px;
  border-radius: 3px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

li {
  background: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.home-page > p {
  width: 80%;
  margin: 0 auto;
}
p {
  margin: 0;
  line-height: 1.5;
}

nav {
  text-align: center;
  margin: 40px auto;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
}

a:visited,
a {
  margin: 0 10px;
  color: #0070f3;
  text-decoration: none;
}


.blue {
	color: blue;
}